.tagihan-main {
  display: block;
}

.status-belum-bayar {
      color: red;
      font-weight: 700;
    }
    .status-sudah-bayar {
      color: green;
      font-weight: 700;
    }
    .header-info {
      font-size: 1.25rem;
      font-weight: 600;
    }
    table {
      width: 100%;
    }
    main {
      padding: 2rem;
      background-color: #f8f9fa;
      flex-grow: 1;
    }
    body {
      display: flex;
      margin: 0;
      background-color: #f8f9fa;
    }